<nav class="repo-tabs">
  <a href="/<%= owner %>/<%= repoName %>" class="repo-tab <%= active === 'code' ? 'active' : '' %>">
    <svg width="14" height="14" viewBox="0 0 16 16" fill="currentColor"><path d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"/></svg>
    Code
  </a>
  <a href="/<%= owner %>/<%= repoName %>/issues" class="repo-tab <%= active === 'issues' ? 'active' : '' %>">
    <svg width="14" height="14" viewBox="0 0 16 16" fill="currentColor"><path d="M8 9.5a1.5 1.5 0 100-3 1.5 1.5 0 000 3z"/><path fill-rule="evenodd" d="M8 0a8 8 0 100 16A8 8 0 008 0zM1.5 8a6.5 6.5 0 1113 0 6.5 6.5 0 01-13 0z"/></svg>
    Issues
    <% if (typeof openIssues !== 'undefined' && openIssues > 0) { %><span class="tab-count"><%= openIssues %></span><% } %>
  </a>
  <a href="/<%= owner %>/<%= repoName %>/pulls" class="repo-tab <%= active === 'pulls' ? 'active' : '' %>">
    <svg width="14" height="14" viewBox="0 0 16 16" fill="currentColor"><path d="M7.177 3.073L9.573.677A.25.25 0 0110 .854v4.792a.25.25 0 01-.427.177L7.177 3.427a.25.25 0 010-.354zM3.75 2.5a.75.75 0 100 1.5.75.75 0 000-1.5zm-2.25.75a2.25 2.25 0 113 2.122v5.256a2.251 2.251 0 11-1.5 0V5.372A2.25 2.25 0 011.5 3.25zM11 2.5h-1V4h1a1 1 0 011 1v5.628a2.251 2.251 0 101.5 0V5A2.5 2.5 0 0011 2.5zm1 10.25a.75.75 0 111.5 0 .75.75 0 01-1.5 0zM3.75 12a.75.75 0 100 1.5.75.75 0 000-1.5z"/></svg>
    Pull Requests
    <% if (typeof openPrs !== 'undefined' && openPrs > 0) { %><span class="tab-count"><%= openPrs %></span><% } %>
  </a>
  <% if (user && user.id === repoRow.owner_id) { %>
  <a href="/<%= owner %>/<%= repoName %>/settings" class="repo-tab <%= active === 'settings' ? 'active' : '' %>">
    <svg width="14" height="14" viewBox="0 0 16 16" fill="currentColor"><path fill-rule="evenodd" d="M7.429 1.525a6.593 6.593 0 011.142 0c.036.003.108.036.137.146l.289 1.105c.147.56.55.967.997 1.189.174.086.341.178.502.278.197.123.472.133.69-.019l.928-.682c.094-.069.180-.067.228-.036a6.552 6.552 0 01.808.808c.031.048.033.134-.036.228l-.682.928c-.152.218-.142.493-.019.69.1.161.192.328.278.502.222.447.629.85 1.189.997l1.105.289c.11.029.143.101.146.137a6.593 6.593 0 010 1.142c-.003.036-.036.108-.146.137l-1.105.289c-.56.147-.967.55-1.189.997a4.537 4.537 0 01-.278.502c-.123.197-.133.472.019.69l.682.928c.069.094.067.18.036.228a6.55 6.55 0 01-.808.808c-.048.031-.134.033-.228-.036l-.928-.682c-.218-.152-.493-.142-.69-.019a4.54 4.54 0 01-.502.278c-.447.222-.85.629-.997 1.189l-.289 1.105c-.029.11-.101.143-.137.146a6.593 6.593 0 01-1.142 0c-.036-.003-.108-.036-.137-.146l-.289-1.105c-.147-.56-.55-.967-.997-1.189a4.538 4.538 0 01-.502-.278c-.197-.123-.472-.133-.69.019l-.928.682c-.094.069-.18.067-.228.036a6.552 6.552 0 01-.808-.808c-.031-.048-.033-.134.036-.228l.682-.928c.152-.218.142-.493.019-.69a4.54 4.54 0 01-.278-.502c-.222-.447-.629-.85-1.189-.997L1.662 8.71c-.11-.029-.143-.101-.146-.137a6.593 6.593 0 010-1.142c.003-.036.036-.108.146-.137l1.105-.289c.56-.147.967-.55 1.189-.997.086-.174.178-.341.278-.502.123-.197.133-.472-.019-.69l-.682-.928C3.464 4.78 3.466 4.694 3.497 4.646a6.552 6.552 0 01.808-.808c.048-.031.134-.033.228.036l.928.682c.218.152.493.142.69.019.161-.1.328-.192.502-.278.447-.222.85-.629.997-1.189l.289-1.105c.029-.11.101-.143.137-.146zM8 10.5a2.5 2.5 0 100-5 2.5 2.5 0 000 5z"/></svg>
    Settings
  </a>
  <% } %>
</nav>
